* {
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
    color: #fff;
}

body {
    background-color: #000
}

div {
    padding: 50px;
    margin: 40px;
    box-shadow: 0px 0px 10px gray;
    background-color: #000;
    font-size: 30px;
    color: #fff;
}

#startListener {
    padding: 50px;
    margin: 40px;
    box-shadow: 0px 0px 10px gray;
    background-color: #000;
    font-size: 30px;
    font-family: inherit;
    color: #fff;
}

#showhelp {
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 10px gray;
    background-color: #000;
    font-size: 15px;
    font-family: inherit;
    color: #fff;
}

#credits {
    padding: 20px;
    margin: 13px;
    font-size: 10px;
    font-family: inherit;
    color: #fff;
}

#theme {
    background-color: #fff;
    font-size: 25px;
    font-family: inherit;

}

#speed {
    border: 1px red;
    width: 15%;
}

#volume {
    color: #000;
}
